<!DOCTYPE html>
<html lang="en">

<head>
	<title>Contact V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!--  Bootstrap css file  -->
	<link rel="stylesheet" href="/stylesheet/bootstrap.min.css">

	<!--  font awesome icons  -->
	<link rel="stylesheet" href="/stylesheet/all.min.css">


	<!--  Magnific Popup css file  -->
	<link rel="stylesheet" href="/vendor/Magnific-Popup/dist/magnific-popup.css">


	<!--  Owl-carousel css file  -->
	<link rel="stylesheet" href="/vendor/owl-carousel/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/vendor/owl-carousel/css/owl.theme.default.min.css">


	<!--  custom css file  -->
	<link rel="stylesheet" href="/stylesheet/style.css">

	<!--  Responsive css file  -->
	<link rel="stylesheet" href="/stylesheet/responsive.css">

	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/contact/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/contact/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/contact/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/contact/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/contact/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/contact/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/contact/css/util.css">
	<link rel="stylesheet" type="text/css" href="/contact/css/main.css">
	<!--===============================================================================================-->
</head>

<body>

	<header class="header_area">
		<div class="main-menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand" href="#"><img src="/img/logo.png" alt="logo"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<div class="mr-auto"></div>
					<ul class="navbar-nav">
						<li class="nav-item ">
							<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/about">about </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/collect">Experience</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/services">services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/portfolio">portfolio</a>
						</li>
					<!--	<li class="nav-item">
							<a class="nav-link" href="/pages">pages</a>
						</li> -->
						<li class="nav-item">
							<a class="nav-link" href="/blog">blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color: rgb(37, 192, 37) ;" href="/contact">contact</a>
						</li>

					</ul>
				</div>
			</nav>
		</div>
	</header>

	<div class="bg-contact3">
		<div class="container-contact3">
			<div class="wrap-contact3">
				<form class="contact3-form validate-form" action="/methpos" method="POST">
					<span class="contact3-form-title">
						Contact Us
					</span>

					<div class="wrap-contact3-form-radio">
						<div class="contact3-form-radio m-r-42">
							<input class="input-radio3" id="radio1" type="radio" name="choice" value="say-hi"
								checked="checked">
							<label class="label-radio3" for="radio1">
								Say Hi
							</label>
						</div>

						<div class="contact3-form-radio">
							<input class="input-radio3" id="radio2" type="radio" name="choice" value="get-quote">
							<label class="label-radio3" for="radio2">
								Get a Quote
							</label>
						</div>
					</div>

					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<input class="input3" type="text" name="name" placeholder="Your Name">
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<input class="input3" type="text" name="email" placeholder="Your Email">
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 input3-select">
						<div>
							<select class="selection-2" name="service">
								<option>Needed Services</option>
								<option>eCommerce Bussiness</option>
								<option>UI/UX Design</option>
								<option>Online Services</option>
							</select>
						</div>
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 input3-select">
						<div>
							<select class="selection-2" name="budget">
								<option>Budget</option>
								<option>1500 $</option>
								<option>2000 $</option>
								<option>3000 $</option>
							</select>
						</div>
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate="Message is required">
						<textarea class="input3" name="message" placeholder="Your Message"></textarea>
						<span class="focus-input3"></span>
					</div>

					<div class="container-contact3-form-btn">
						<button class="contact3-form-btn">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer class="footer-area">
		<div class="container">
				<div class="">
						<div class="site-logo text-center py-4">
							<!--	<a href="#"><img src="./img/logo.png" alt="logo"></a> -->
						</div>
						<div class="social text-center">
								<h5 class="text-uppercase">Follow me</h5>
								<a href="https://www.facebook.com/chandu.varma.5439/" target="_blank"><i class="fab fa-facebook"></i></a>
								<a href="https://www.instagram.com/v_chandu/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
								<a href="https://www.linkedin.com/in/chandrasekhar-varma-jagadabi-b4571717a/" target="_blank"><i class="fab fa-linkedin"></i></a>
								<a href="https://twitter.com/Vchandu39424596?s=08" target="_blank"><i class="fab fa-twitter"></i></a>
						</div>
						<div class="copyrights text-center">
								<p class="para">
										Copyright ©2019 All rights reserved | This is made with<span style="font-size: 38px;"> &#10083; </span>  by
										<a href="#"><span style="color: var(--primary-color);">CHANDU</span></a>
								</p>
						</div>
				</div>
		</div>
</footer>



	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="/contact/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/contact/vendor/bootstrap/js/popper.js"></script>
	<script src="/contact/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/contact/vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
	<!--===============================================================================================-->
	<script src="/contact/js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-23581568-13');
	</script>

</body>

</html>